
body {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card01 {
    background: url(assets/main-hero-mobile_compressed.jpg);
    width: 100%;
}



.btn-solid {
    background-color: #F7F7F7;
    border-radius: 1rem;
    border: none;
    padding: 0.75rem;
}